*{
    background-color:rgb(114, 227, 255) ;
    box-sizing: border-box;
}
.title{
    color: rgb(0, 0, 0);
    width:auto;
    height: 150px;
    border-style: dotted;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu-container{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    justify-content: space-around
}

.intro{
    font-size: 20px;
    background-color: aqua;
}

.links {
    display: flex;
    justify-content:flex-end;
    border: 1px salmon;
    align-self: flex-end;
    margin-left: 50px;

}

.intro.extra{
font-size: 16px;
background-color: brown;
font-family: 'Times New Roman', Times, serif;


}
.intro.extra#test{
font-size: 16px;
background-color: brown;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.recipe-list{
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 200px;
    margin: 8px;
    border-style: groove;
}
